body{
    background: url("../img/bg.jpg") no-repeat  0 0/100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.header{
    width: 1200px;
    height: 73px;
    line-height: 73px;
    color: #f8b770;
    margin: 0 auto;
    margin-top: 45px;
    background: url("../img/bg_nav.jpg") no-repeat 0 0/100% 100%;
    border-radius: 2px;
    position: relative;
}

.header nav a{
    float: left;
    width: 160px;
    height: 73px;
    text-align: center;  
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-top: none;
    border-bottom: none;
}

.header nav a:nth-child(3){
    margin-right: 240px;
}

.header .logo{
    position: absolute;
    width: 256px;
    height: 140px;
    background: url("../img/logo.png") no-repeat;
    left: 24px;
    right: 0;
    margin: auto;
    top: -44px;
}

.header .logo h1{
    display: none;
}

.menu{
    text-align: center;
    margin-top: 560px;
}

.menu a{
    display: inline-block;
    width: 324px;
    height: 120px;  
    background: url("../img/btns.png")no-repeat;

}

.menu a span{
    display: none;
}

.menu a.download{
    background-position: -320px 0;
}

.adv{
    width: 1260px;
    margin: 48px auto;
}

.adv .item{
    float: left;
    width: 290px;
    height: 200px;
    margin-right: 12px;
    outline: 1px solid #3f3a22;
}

.adv .item:last-child{
    margin-right: 0;
}

.adv .item .title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #211510;
    color: #f8b770;
    font-size: 1.5;
    font-weight: 700;
    border: 1px solid  #3f3a22;
}

.adv .item .img{
    height: 150px;
}

.adv .item .img img{
    width: 100%;
    height: 150px;
}